{% extends 'base.html.twig' %}

{# {% form_theme form 'bootstrap_5_layout.html.twig' %} #}

{% block body %}
  <h1>Création d'un Article </h1>
       
        {{ form_start(formArticle) }}
           {# {{ form_widget(formArticle) }} #}
           {{ form_row(formArticle.title, { 'attr': {'label': 'Titre', 'Placeholder': "Titre de l'article" } }) }}
           {{ form_row(formArticle.category) }}
           {{ form_row(formArticle.Content, { 'attr': {'label': 'Titre', 'Placeholder': "Contenue de l'article"} }) }}
           {{ form_row(formArticle.imageFile) }}
           <button type="submit" class="btn btn-success">
           {% if editMode %}
              Enregistrer
           {% else %}
           Ajouter l'article
           {% endif %}
           </button>
        {{ form_end(formArticle) }}
   {# {{ form(formArticle) }} #}
{% endblock %}